<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

		<form action="#" method="POST" th:action="@{/login}" th:object="${user}">
			<table>
				<tr>
					<td> 
						<label for="username">Username:</label> 
					</td>
					<td>
						<input type="text" id="username" size="30"
								th:field="*{username}" 
								placeholder="Please type in your username" >
					</td>
					<td>
						<span th:if="${#fields.hasErrors()}" th:errors="*{username}" style="color:red"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input type="password" id="password" size="30"
								th:field="*{password}" 
								placeholder="Please type in your password">
					</td>
					<td>
						<span th:if="${#fields.hasErrors()}" th:errors="*{password}" style="color:red"></span>
					</td>
				</tr>
				<tr th:if="${loginAttempts > 0}">
					<td>
						<span th:text="${captcha.captchaString}"></span>
					</td>
				</tr>
				<tr th:if="${loginAttempts > 0}">
					<td>Answer:</td>
					<td>
						<input type="number" th:field="${captcha.answer}" placeholder="Answer">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<span th:if="${error != null}" th:text="${error}" style="color:red"></span>
					</td>
				</tr>
				<tr>
					<td>
						<button>Login</button>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
