<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <table th:object="${user}">
            <tr>
                <td>
                    Your login <label th:text="*{username}"></label> has been deactivated for 30 mins
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <form action="#" method="GET" th:action="@{/}">
                        <button type="submit">Back</button>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>